In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px
import folium
import geopandas as gpd
from shapely.geometry import box

In [2]:
import matplotlib.font_manager as fm

# 한국어 출력을 위한 폰트 설정
plt.rc('font', family='NanumGothic') 

# 마이너스 기호가 깨지는 것을 방지
plt.rcParams['axes.unicode_minus'] = False

In [5]:
gdf = gpd.read_file("data/songpa_grid.shp", encoding='euc-kr')

In [6]:
gdf

,id,인구수,건물수,단독주택수,공동주택수,노후건물수,읍면동코드,동,소화용수,geometry
0,3,426.0,2.0,NaN,2.0,NaN,11710109,장지동,1,"POLYGON ((127.13469 37.47576, 127.13469 37.476..."
1,9,54.0,5.0,NaN,1.0,NaN,11710112,오금동,1,"POLYGON ((127.13227 37.50911, 127.13226 37.510..."
2,23,506.0,12.0,2.0,4.0,10.0,11710103,풍납동,2,"POLYGON ((127.11633 37.52708, 127.11633 37.527..."
3,39,617.0,43.0,13.0,30.0,25.0,11710106,삼전동,1,"POLYGON ((127.09158 37.49996, 127.09158 37.500..."
4,41,386.0,29.0,16.0,9.0,19.0,11710104,송파동,2,"POLYGON ((127.11304 37.50724, 127.11304 37.508..."
...,...,...,...,...,...,...,...,...,...,...
3453,61556,NaN,NaN,NaN,NaN,NaN,11710107,가락동,2,"POLYGON ((127.10747 37.49190, 127.10746 37.492..."
3454,61572,NaN,NaN,NaN,NaN,NaN,11710111,방이동,1,"POLYGON ((127.13905 37.51093, 127.13904 37.511..."
3455,61580,NaN,NaN,NaN,NaN,NaN,11710101,잠실동,1,"POLYGON ((127.07568 37.51162, 127.07567 37.512..."
3456,61615,NaN,NaN,NaN,NaN,NaN,11710108,문정동,1,"POLYGON ((127.11882 37.48292, 127.11882 37.483..."
3457,61621,NaN,8.0,NaN,NaN,NaN,11710101,잠실동,2,"POLYGON ((127.09945 37.50990, 127.09945 37.510..."