In [2]:
import pandas as pd

In [3]:
df_2022 = pd.read_csv("data/화재발생_동별_2022.csv", encoding='cp949')
df_2021 = pd.read_csv("data/화재발생_동별_2021.csv", encoding='cp949')

In [4]:
df_2022.head()

,자치구,동,단독주택,공동주택,기타주택,학교,일반업무,판매시설,숙박시설,종교시설,의료시설,공장 및 창고,작업장,위락오락시설,음식점,일상서비스시설,기타
0,종로구,사직동,1,-,-,-,-,1,-,-,-,-,-,-,3,-,3
1,종로구,삼청동,-,-,-,-,-,-,-,-,-,-,-,-,3,-,1
2,종로구,부암동,1,1,-,-,-,-,-,-,-,-,-,-,-,-,1
3,종로구,평창동,4,1,-,-,-,-,-,-,-,-,-,-,-,-,-
4,종로구,무악동,-,4,-,-,-,-,-,-,-,-,-,-,-,-,-

In [5]:
df_2021.head()

,자치구,동,단독주택,공동주택,기타주택,학교,일반업무,판매시설,숙박시설,종교시설,의료시설,공장 및 창고,작업장,위락오락시설,음식점,일상서비스시설,기타
0,종로구,사직동,-,1,-,1,1,1,-,-,-,-,-,-,3,-,1
1,종로구,삼청동,1,-,-,-,1,1,-,-,-,-,-,-,1,-,1
2,종로구,부암동,-,2,-,1,-,-,-,-,-,-,-,-,-,-,-
3,종로구,평창동,4,2,-,-,-,1,-,1,-,-,-,-,-,-,3
4,종로구,무악동,-,2,-,-,-,-,-,-,-,-,-,-,-,-,-

In [6]:
# '-'를 0으로 변환
df_2021 = df_2021.replace('-', 0)
df_2022 = df_2022.replace('-', 0)

In [7]:
# 데이터 타입을 int로 변환
for col in df_2021.columns[2:]:
    df_2021[col] = df_2021[col].astype(int)
    df_2022[col] = df_2022[col].astype(int)

In [8]:
# 데이터 합치기
df_combined = pd.concat([df_2021, df_2022])

In [9]:
# '자치구'와 '동' 기준으로 그룹화하여 합계 계산
df_sum = df_combined.groupby(['자치구', '동']).sum().reset_index()

In [10]:
df_sum

,자치구,동,단독주택,공동주택,기타주택,학교,일반업무,판매시설,숙박시설,종교시설,의료시설,공장 및 창고,작업장,위락오락시설,음식점,일상서비스시설,기타
0,강남구,개포1동,0,2,1,0,0,0,0,0,0,0,0,0,0,0,0
1,강남구,개포2동,2,4,1,0,2,1,0,1,0,0,0,0,1,0,0
2,강남구,개포3동,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
3,강남구,개포4동,3,9,0,0,3,2,0,0,0,0,0,0,0,1,3
4,강남구,논현1동,13,13,0,0,18,1,3,0,5,0,0,1,9,4,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
422,중랑구,상봉2동,4,9,0,0,5,1,3,0,0,0,0,0,8,4,0
423,중랑구,신내1동,1,6,0,0,0,3,0,0,0,1,0,0,0,0,0
424,중랑구,신내2동,0,11,0,0,1,1,0,0,0,0,0,0,0,0,2
425,중랑구,중화1동,4,3,0,0,0,2,0,1,0,2,0,0,1,2,0
426,중랑구,중화2동,13,7,0,0,2,4,0,0,0,1,1,0,7,1,1

In [11]:
# 각 '구'별로 합계를 계산
df_group_sum = df_sum.groupby('자치구').sum().reset_index()

# '동' 열에 '전체'를 추가
df_group_sum['동'] = df_group_sum['자치구'] + ' 전체'

# 원래의 데이터프레임에 합계 데이터 추가
df_sum_with_total = pd.concat([df_sum, df_group_sum], ignore_index=True)

# 결과 확인
df_sum_with_total

,자치구,동,단독주택,공동주택,기타주택,학교,일반업무,판매시설,숙박시설,종교시설,의료시설,공장 및 창고,작업장,위락오락시설,음식점,일상서비스시설,기타
0,강남구,개포1동,0,2,1,0,0,0,0,0,0,0,0,0,0,0,0
1,강남구,개포2동,2,4,1,0,2,1,0,1,0,0,0,0,1,0,0
2,강남구,개포3동,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
3,강남구,개포4동,3,9,0,0,3,2,0,0,0,0,0,0,0,1,3
4,강남구,논현1동,13,13,0,0,18,1,3,0,5,0,0,1,9,4,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
447,용산구,용산구 전체,68,79,7,0,27,8,3,1,3,2,3,3,55,15,14
448,은평구,은평구 전체,61,117,1,5,16,8,1,6,8,4,4,6,34,14,8
449,종로구,종로구 전체,51,55,3,7,14,22,9,1,4,6,11,5,61,9,30
450,중구,중구 전체,17,39,2,3,47,28,10,2,2,10,19,4,47,11,18
451,중랑구,중랑구 전체,117,95,0,0,12,23,4,1,0,12,6,3,38,21,8

In [12]:
df_sum_with_total.to_csv("data/동별_화재발생_장소_2021_2022.csv")